.bck {
    margin: 15rem 0 0 0 ;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

.button:hover {
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: o.3s ease-out;
    cursor: pointer;
}